* {
    margin:0px;
    padding:0px,0px,0px,0px;
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
    background-color:black;
    color: #efe2d6;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
  }

  /*text*/
  h1{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
  }
  
  h1 h3{
    display: block;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 57px;
    font-variant: small-caps;
  }
  
  .article, .atitle, h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-size:25px;
  }
  
  .article, .atitle, .abio, h3 {
    font-size: 37px;
    font-variant: all-small-caps;
  }
  /*
  .abio h3{
    color:#212360;
  }
  */
  p, h6, h4, h5 {
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  h4 {
  font-weight: 400;
  }
  
  p {
    font-size: 17px;
    font-variant: normal;
    font-weight: 400;
  }
  
  h6 {
    font-size: 14px;
    text-align: left;
    font-weight: 200;
    text-align: center;
  }
  
  h1{
  font-variant: small-caps;
  }
  
  .content h4 {
    text-align:left;
    font-variant: normal;
    font-size:14px;
    line-height: 20px;
  }
  
  h5 {
    font-size: 14px;
    font-variant: normal;
    text-align: left;
    font-weight:200px;
  
  }
  

  h8{
    font-size: 107px;
    font-weight: 800px;
    font-variant:small-caps;
  }


  /* Issue Header*/
  .sections0{
    background-color:#000000;
    padding-top: 0px;
    width: 65%;
    height:65%;
    margin:auto;
    padding-bottom:50px;
  }
  /*credit for photography */
  .artist{
    margin:auto;
  }
  
  /* grid layout 
  ------------------------------------------------------------------------------====*/

  html {
    overflow-y: scroll; 
  }
  
  .grid {
    background: black;
    margin:2.5%;
    border-bottom:3px solid green;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .element-item ---- */
  
  /* 5 columns, percentage width */
  .grid-item,
  .grid-sizer {
    width: 100%;
  }
  
  .grid-item {
    float: left;
    text-decoration: none;
  }

  
  .grid-item{
    border-top:2px solid red;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid yellow;
  }

  .grid-item { width: 600px;  }
  .grid-item{ height: 300px; }
  
  /* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
  .grid-item {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
   /margin:auto;
  }
  .visualart{
    width:100%;
    height:auto;
  }

   .image{
    width:100%;
    height:auto;
  } 
}
*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .visualart{
    height:900px;
    width:600px;
  }

  .visualart{
    height:auto;
  }
 .prose{
    text-decoration: none;
  }
  /* external css: flickity.css *

/*------------------------------------------------------------------------------------------------------*/

    /* Add a background color to the top navigation */
  .topnav {
    background-color: #000000;
    overflow: hidden;
    padding:0px;
  }  
  /* Style the links inside the navigation bar */
  .topnav a{
    float: left;
    display: block;
    color: #efe2d6;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 70px;
    padding-bottom: 0px;
  }
  
  
  .logo, .icon {
    padding-top: 10px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    border-bottom:solid 6px #efe2d6;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  .icon:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .logo:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      margin-right: 40px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-top:50%;
      padding-bottom: 50%;
  }

  /*--------------------------------------------------------------------------------------------------*/

  body {
    font-family: 'Montserrat', sans-serif;
  
  
  }
  
  .tbutton {
    color:#212360;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-variant: small-caps;
    background: white;
    padding:5px;
    border-radius: 7px;
  }
  .cart{
    flex:1;
    justify-content: flex-end;
    position: relative;
  
  }
  
  .sections0{
    min-height:70vh;    
  }
  
  .ilogo6 {
    display: block;
    width: 100%;
    max-width: 800px;
    margin:auto;
    padding:40px;
    padding-bottom: 5px;
    padding-top:50px;
  }

  
  @keyframes drop {
    0%{
        opacity: 0;
        tranform: translateY(-10px);
    }
    100%{
        opacity: 1;
        tranform: translateY(0px);
    }
  }
  
  @media screen and (max-width:1024px) {
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-left: 5vh;
        text-align:center;
    }
    .intro-text h1{
        font-size:30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding:10px 0px 0px 0px;
    }
  
    .article{
        padding-left: 30px;
    }
  }

  h7 {
    font-size: 14px;
    text-align: center;
    font-weight: 800;
  }

    
  .artist{
    margin-left:7%;
    margin-top:2%;
    margin-bottom:2%;
    text-align:center;
  }

  
  footer {
    text-align: center;
    padding: 3px;
    background-color:#212360;
    margin-top:auto;
    padding-bottom: 50px;
  }

  .footerInfo{
    margin-top:-50px;
  }


    /*CONTENT PAGE------------------------------------------------------------------------*/

    .issue{
      text-align:center;
      padding: 80px;
      padding-bottom:150px;
    }

    .heading{
      text-align: center;
      padding-top:70px;
    }

    .authorInfo{
      text-align:center;
      padding-top:70px;
      padding-bottom:120px;
    }

    .content {
      display:flex; justify-content: center;
    }

    hr{
      border: 2px solid #efe2d6 ;
    }

    